 /* Modify the background color of second navbar */        
 .navbar-custom {
    background: linear-gradient(to bottom, #003366 0%, #003366 100%);
}

 /* layout */
body {
    
    background: linear-gradient(to top, #0C1618  0%, #003366 170%);
    color:white;
    background-size:100% ;
}

 /* footer */
footer {
    background: linear-gradient(to top, #003366 0%, #003366 170%);
} 

/* movies */
.movies {
    background-image: radial-gradient( #003366, #0C1618);
    
}

/* images */
.movieimg {
    width: 150px;
    height: 280px;
}


  
